@mixin btn-style {
  background: #6ECED0;
  color: #FFFFFF !important;
  border: 2px solid transparent;
  border-radius: 999px;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  margin-left: 2rem;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.2s, color 0.2s;
}