// Variables de colores y estilos globales
$color-primario: #6ECED0;
$color-secundario: #f4ce24;
$color-terceario: #FFFFFF;
$color-fondo: #090909;
$color-texto: #FFFFFF;
$color-hover: #fff200;
$color-borde-hover: #FFFFFF;
$color-borde-hover: #fff;
$color-boton-hover: #090909;
$color-boton-borde-hover: #6ECED0;

$border-radius-total: 999px;
$padding-boton: 0.7rem 1.5rem;
$font-size-boton: 0.9375rem;
$transition-boton: background 0.2s, color 0.2s, border 0.2s;

// Nuevas variables para tipografía y colores de texto
$font-family-principal: 'Futura PT', sans-serif;
$font-size-base: 1rem;
$font-size-titulo: 2rem;
$font-weight-bold: 700;
$color-texto-principal: #FFFFFF;
$color-texto-secundario: #090909;
