@use './styles/variables';
@use './styles/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: variables.$font-family-principal;
  color: variables.$offwhite;
}

h1 {
  font-size: variables.$font-size-titulo;
  font-weight: variables.$font-weight-bold;
  color: variables.$grey;
}

.App {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
}

.header-wrapper {
  display: flex;
  background-color: variables.$dark;
  align-items: center;
  height: 83px;
  padding: 0 1rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;

  .header {
    padding: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      /* extender fuera del padding para que llegue de borde a borde */
      left: -1rem;
      right: -1rem;
      height: 1px; /* más sutil */
      background-color: rgba(255,255,255,0.15); /* línea tenue */
    }

    .logo-section {
      flex: 0 0 auto;

      .logo {
        height: 48px;
        width: auto;
        object-fit: contain;
      }
    }

    .nav-wrapper {
      display: flex;
      align-items: center;
      flex: 1; /* ocupa el espacio entre logo y CTA */
      position: relative;

      .navigation {
        /* Unificada: ocupa espacio y centra el menú */
        flex: 1;
        margin: 0 auto; /* centra el menú dentro del espacio disponible */
        display: flex;
        gap: 3rem;
        align-items: center;
        justify-content: center;
        /* Pequeño desplazamiento a la derecha: se ajusta este valor según necesites */
        transform: translateX(0.55rem);

        a {
          color: variables.$offwhite;
          text-decoration: underline;
          text-decoration-color: rgba(variables.$light-blue, 0.5);
          text-decoration-thickness: 1px;
          text-underline-offset: 4px;
          font-size: variables.$font-size-base;
          font-weight: normal;
          //display: inline-block;
          transition: opacity 0.2s ease, text-decoration-color 0.3s ease, transform 0.1s ease;
          padding: variables.$padding-boton;

          &:hover {
            color: variables.$offwhite;
            opacity: 0.4;
            transform: scale(1.05);
            text-decoration-color: variables.$light-blue;
          }
        }
      }

      .cta-wrapper {
        margin-left: auto; /* empuja el botón a la derecha */
        display: flex;
        align-items: center;
      }
    }

    
    .cta-wrapper {
      flex: 0 0 auto;

        .cta-btn {
          @include mixins.btn-light;

        &:hover {
          border: 2px solid variables.$blue;
        }
      }
    }
  }
}








